@media ( max-width: 940px )
  .lockers-hero 
    .coop-hero-img 
      right: -160px

@media ( max-width: 840px )
  .lockers-hero 
    .coop-hero-img 
      right: -160px

@media ( max-width: 750px )
  .lockers-hero 
    .coop-hero-img 
      right: -200px

@media ( max-width: 600px )
  .lockers-hero 
    .coop-hero-img 
      right: -260px
    .coop-hero-text 
      width: 70%

@media ( max-width: 460px )
  .lockers-hero 
    .coop-hero-img 
      right: -260px
    .coop-hero-text 
      width: 65%
@media ( max-width: 425px )
  .lockers-hero 
    .coop-hero-img 
      right: -250px !important
    .coop-hero-text 
      width: 60%